p,
a,
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 2px 5px black;
}
.logo-deezer {
  width: 175px;
  height: 100px;
  object-fit: contain;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  margin-right: 50px;
  display: flex;
  gap: 20px;
}
button {
  border-radius: 20px;
  padding: 10px 30px;
  width: fit-content;
}

.first {
  background-color: white;
  border: #2d96c8 2px solid;
  color: #2d96c8;
}

.segond {
  background-color: #2d96c8;
  color: white;
  border: #2d96c8 2px solid;
}

.banner a {
  align-self: center;
  color: black;
  text-decoration: none;
}

:hover .banner a {
  cursor: pointer;
}
:hover button {
  cursor: pointer;
}

.banner-hero h1 {
  font-size: 36px;
  font-weight: bold;
}

.banner-hero h2 {
  color: #ef5466;
}
.banner-hero {
  position: relative;
  display: flex;
  height: 600px;
  margin-top: 150px;
  justify-content: space-around;
}
.cover {
  position: absolute;
  right: 0;
  width: 700px;
  height: 700px;
}

.third {
  color: white;
  background-color: #ef5466;
  border: solid 1px #ef5466;
}

.four {
  color: black;
  border: solid 1px black;
}

.button-adjust {
  display: flex;
  gap: 25px;
}

.align {
  margin-right: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.telephone {
  width: 300px;
  height: 500px;
  margin-left: 300px;
  margin-top: 50px;
}

.presentation {
  display: flex;
  position: relative;
  z-index: 1;
  background-color: #f7f6f3;
  gap: 100px;
}
.parent {
  margin-right: 200px;
  margin-top: 50px;
}

.paragraphe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adjust-article {
  display: flex;
  margin-top: 50px;
  gap: 100px;
}

.bold {
  font-weight: bold;
  font-size: 26px;
}

.parent h2 {
  font-size: 32px;
  font-weight: bold;
}

.info {
  background-color: #ef5466;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

.iframe-info i {
  color: white;
}
.article-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-info h3 {
  font-weight: bold;
  font-size: 28px;
}

.article-info h3 {
  color: white;
}
.article-info p {
  color: white;
}
.tableau-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.tableau {
  border: 1px solid black;
  box-shadow: 0px 2px 5px black;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.align-left {
  text-align: start;
  margin-left: 50px;
}
.text-align {
  text-align: center;
}

.offre {
  margin-top: 40px;
}
.blue {
  background-color: #2d96c8;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.color-blue {
  color: #2d96c8;
}

.grey {
  color: #8e8e94;
  font-weight: bolder;
}

.lightgrey {
  color: #8e8e94;
}

.margin-top {
  margin-top: 20px;
}

.inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.white {
  color: white;
  font-weight: bold;
}

.whitel {
  color: white;
  font-weight: 100;
}

.no {
  text-decoration: none;
}

.color-grey {
  background-color: #8e8e94;
  border: #8e8e94 1px solid;
}

.mini {
  font-size: 12px;
  text-align: center;
}
